{% extends "cTools_common.html" %}

{% block tTitle %}Update Material List from SAP MM60 Spreadsheet{% endblock %}
{% block formName %}Update Material List Finished{% endblock %}

{% block boddy %}
<hr>
{{ dummyForm.csrf_token }}
{% if ImpErrList %}
<hr>
<b>Errors:</b>
<ul>
    {% for err in ImpErrList %}
    <li>
        <b>{{ err.errmsg }}</b>
    </li>
    {% else %}
        <li><b>None!</b></li>
    {% endfor %}
</ul>
{% endif %}
<hr>
Material Added:
<ul>
    {% for rec in AddedMatls %}
        <li>
        id {{ rec.MaterialLink_id }} - 
        {{ rec.org.orgname }} -
        {{ rec.Material }} - 
        {{ rec.Description }} - 
        {{ rec.SAPMaterialType }} -
        {{ rec.SAPMaterialGroup }} -
        {{ rec.Price }} -
        {{ rec.PriceUnit }}
        </li>
    {% else %}
        <li><b>None!</b></li>
    {% endfor %}
</ul>
<hr>
Material Removed:
<ul>
    {% for rec in RemvdMatls %}
        <li>
        {{ rec.recStatus }} - 
        {{ rec.org.orgname }} -
        {{ rec.Material }} - 
        {{ rec.Description }}
        </li>
    {% else %}
        <li><b>None!</b></li>
    {% endfor %}
</ul>

<!-- form footer -->
<div class="container">
    <div class="row mx-auto max-width=100%">
        <div class="col-4">
            <input type="hidden" name="NextPhase" value="99-DONE"></input>
        </div>
        <div class="col-6"></div>
        <div class="col">
            <button id="close_btn" type="button">
                <img src="{{ url_for('ctools.static', filename='stop-road-sign-icon.svg') }}" width="20" height="20"></img>
                Close Form
            </button>
        </div>
    </div>
</div>
<script>

function initFn() {
    const formdata = new FormData();
    formdata.append('currentPhase', 'resultspresented')
    formdata.append('reqid', '{{ reqid }}')
    csrftoken = "{{ dummyForm.csrf_token.data }}";
    /** old jQuery 
    $.ajax({
        type: 'POST', 
        data: formdata,
        headers: {'X-CSRFToken': csrftoken},
        processData: false, 
        contentType: false, 
        success: function(data) {}
        });
    **/
    fetch(window.location.href, {
        method: 'POST',
        headers: {
            'X-CSRFToken': csrftoken
            // Do not set 'Content-Type' header here.
            // Browser automatically sets it with the boundary for FormData.
        },
        body: formdata
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json(); // Or response.text() depending on your server data
    })
    .then(data => {
        // Handle your success data here
        console.log(data);
    })
    .catch(error => {
        // Handle errors here
        console.error('Error:', error);
    });

    // announce the results
    speak("The Material List is Updated from your spreadsheet."
        + "  There were {{ ImpErrList|length }} rows with errors." 
        + "  {{ AddedMatls|length }} Material records were added." 
        + "  {{ RemvdMatls|length }} Material records were removed." 
    );
}

if (document.readyState === "loading") {
    document.addEventListener("DOMContentLoaded", initFn );
} else {
    initFn();
}

/****
    document.body.onbeforeunload = function() {
    document.getElementById("wait_spinner").style.display = "block";
    }
****/

document.getElementById("close_btn").addEventListener("click",
    function(){
        window.close();
    });

</script>

{% endblock %}